body {
  background-image: url("../images/background.jpeg");
  background-repeat: repeat;
  background-size: 100%;
  margin: 0 auto; 
}
  #box1 th,
  td {
    display: inline-block;
    width: 20%;
  }
